In [1]:
'''
Strings is data type that stores a sequence of characters enclosed by quotes
'''
name = "Johncena"
print(name)
print(type(name))

Johncena
<class 'str'>

In [2]:
# len - number of characters in string
word = "Hello World"
print(len(word))

11

In [3]:
# concatenation - + - to join strings
word1 = 'Hello'
word2 = 'Python'
print(word1 + ' ' + word2)

Hello Python

In [ ]:
# escape sequence chars used to format strings
sentence = 'This is my string1\nWritten'
print(sentence)
# \n - next line
# \' - add ' 
# \t - add tab space

This is my string1
Written

In [5]:
#f-string - format strings 
name = 'mandy'
city = 'hyderabad'
print(f"{name} lives in {city} city.")

mandy lives in hyderabad city.

In [6]:
# Indexing - character at each position / index
word = 'Python'
# first character
print(word[0])
# negative indexing
# last character
print(word[-1])

P
n

In [9]:
# slicing - subpart of string [start: end+1: step]
sentence = 'I code in python'
print(sentence[1:10])
print(sentence[::-1])

 code in
nohtyp ni edoc I

In [10]:
# string is immutable object 
# string can access each character but not manipulated

In [12]:
# string methods - returns new string
# replace - to replace and return 
str1 = 'I love Hyderabad'
str2 = str1.replace("Hyderabad","New York")
print(str2)
print(str1)

I love New York
I love Hyderabad

In [13]:
# strip - removes whitspaces 
str1 = '   python world '
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

python world
python world
   python world

In [14]:
# split - into list 
str1 = 'Python World'
lst = str1.split(' ')
print(lst)

['Python', 'World']

In [15]:
# join - list to string
lst = ['I', 'code', 'in', 'python']
str1 = ' '.join(lst)
print(str1)

I code in python

In [17]:
# index - returns index of char
# find - returns char or -1
str1 = 'python world'
print(str1.index('n'))
print(str1.find('z'))
print(str1.rindex('o'))

5
-1
8

In [18]:
# lower, upper, title, capitalize, swapcase
str1 = 'python WORLD'
print(str1.lower())
print(str1.upper())
print(str1.capitalize())
print(str1.swapcase())
print(str1.title())

python world
PYTHON WORLD
Python world
PYTHON world
Python World

In [19]:
# startswith , endswith 
str1 = 'Python'
print(str1.startswith('P'))
print(str1.endswith('D'))

True
False

In [25]:
# count - returns number of repetations
str1 = 'Hello world of python world'
print(str1.count('o'))
print(str1.count('world'))

5
2

In [26]:
# conditionals 
# if-elif-else 
# if true do this else do this 
# executing set of code instructions based on conditions

age = 24
if age >= 18:
    print("You can cast vote")
else:
    print("You cannot vote")

You can cast vote

In [27]:
number = 56
if number % 2 == 1:
    print("Odd Number")
else:
    print('Even number')

Even number

In [30]:
num = 7
if num % 2 == 0 and num % 3 == 0:
    print("multiple of 6")
elif num % 3 == 0:
    print("multiple of 3 not 2 and 6")
elif num % 2 == 0:
    print("multiple of 2 not 3 and 6")
else:
    print("not multiple of 2, 3 and 6")

not multiple of 2, 3 and 6

In [31]:
light = 'yellow'
if light == 'red':
    print('Stop')
elif light == 'yellow':
    print("Wait")
elif light == 'green':
    print('go')
else:
    print("light-broken")

Wait

In [34]:
a, b = 12, 45
result = a if a > b else b 
print(result, 'was greatest number')

45 was greatest number

In [35]:
a, b, c = 23,4,22
result = a if a > b and a > c else b if b > c else c
print(result, 'was greatest number')

23 was greatest number

In [37]:
num = -45
result = 'postive' if num > 0 else 'negative' if num < 0 else 'zero'
print(result)

negative

In [ ]:
# indendation - spacing to define block of code in function or class or conditional statements

In [41]:
year = 2024
if year % 4 == 0 or (year % 4 == 0 and year % 100 != 0):
    print("Leap year")
else:
    print("Non-leap year")

Leap year

In [45]:
num = float(input("Enter number: "))
result = 'multiple of 7' if num % 7 == 0 else 'non-multiple of 7'
print(f"{int(num)} is {result}")

450 is non-multiple of 7

In [47]:
num1 = 45
num2 = 569
num3 = 5
num4 = 78
if num1 > num2 and num1 > num2 and num1 > num3:
    print(num1, 'is greatest')
elif num2 > num3 and num2 > num4:
    print(num2, 'is greatest')
elif num3 > num4:
    print(num3, 'is greatest')
else:
    print(num4, 'is greatest')

569 is greatest