In [ ]:
# Unordered colelction: 
# items cannot be indexed and sliced
# sets and dictionaries 
# SET is unique collection 
# DICTIONARY is key-value collection

In [1]:
# dictionary
# key-value pairs
# mutable object
# keys are unique and immutable
# values are mutable 
d1 = {}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [ ]:
info = {
    "name": "python",
    "version": 3.16
}
print(info)
# values are accessed with its keys 
print(info.get('name'))
print(info['version'])

{'name': 'python', 'version': 3.16}
python
3.16

In [ ]:
info = {
    "name": 'apnacollege',
    "subjects": ['python', 'Javascript','SQL','GIT'],
    "topics": ["dict",'sets'],
    "age": 35,
    "address": {
        "city": "hyderabad",
        "country": "India"
    }
}
print(info['subjects'][3])
# get method returns value or None
print(info['address'].get('cit'))

GIT
None

In [8]:
# keys are distint (no duplicates | unique)
# keys are immutable objects
# values are mutable objects 
d1 = {}
d1['firstname'] = 'john'
print(d1.get('firstname'))
# update - metod to overwrite or add new key-value 
d1.update({'lastname': 'cena'})
print(d1)

john
{'firstname': 'john', 'lastname': 'cena'}

In [10]:
# to remove values 
d1 = {
    'firsname': 'john', 'lastname': 'cena', 'city': 'new york'
}
print(d1.pop('city')) # removes and return value
print(d1.popitem()) # removes and return pair
print(d1)
d1.clear()
print(d1)

new york
('lastname', 'cena')
{'firsname': 'john'}
{}

In [13]:
# keys, values and items 
d1 = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}
print(d1.keys())
print(d1.values())
print(d1.items())
print(list(d1.values()))
print(len(d1.keys()))

dict_keys(['key1', 'key2', 'key3'])
dict_values(['value1', 'value2', 'value3'])
dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])
['value1', 'value2', 'value3']
3

In [18]:
lst = [1,2,3]
d1 = {}
d1.update(enumerate(lst,start=100))
print(d1)

{100: 1, 101: 2, 102: 3}

In [ ]:
# sets - collection of unique items
# sets are mutable 
# set items are immutable
# no duplicates
# True == 1 == 1.0

s1 = {1,2,3,5,True, 1.0,5.0}
print(s1)

{1, 2, 3, 5}

In [27]:
# methods
# add - add new element
# update - adds multiple elements
s1 = {1,2,3}
s1.add(4)
s1.add(4)
s1.add(5)
print(s1)
s1.update([4,5,6,7])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

In [29]:
# discard - removes element or None
# remove - removes element
# pop - removes and returns
s1 = {1,2,3,4,5,6,7,8}
print(s1.pop())
s1.remove(4)
s1.discard(100)
print(s1)
# clear - remove all
s1.clear()
print(s1)

1
{2, 3, 5, 6, 7, 8}
set()

In [30]:
# set operations 
# union - | - all elements only once
# intersection - & - common elements
# difference - - - remaining elements in first set 
# symmetric difference - ^ - uncommon elements
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

In [31]:
# empty set 
s1 = set()
print(s1)

set()

In [33]:
# frozen set is immutable object 
s1 = frozenset({1,2,3})
print(s1)
print(type(s1))

frozenset({1, 2, 3})
<class 'frozenset'>

In [34]:
# pratice coding 
d1 = {
    "table": ("a piece of furniture", "list of facts & figures"),
    "cat": "a small animal"
}
print(d1)

{'table': ('a piece of furniture', 'list of facts & figures'), 'cat': 'a small animal'}

In [35]:
lst = ['python','java','c','python','c++','javascript','java','python','c++','c']
languages = list(set(lst))
print(languages)
print(len(languages))

['c++', 'javascript', 'c', 'python', 'java']
5

In [ ]:
s1 = {9, 9.0}
print(s1)
# 9 == 9.0

{9}