In [ ]:
# loops
# block of statements repeating again and again
# for-loop and while loop

In [1]:
# for loop
# used for finite number of iterations 

# while loop
# used for unknown number of iterations

# while condition:
#       code 

i = 1
while i <= 5:
    print(f'iteration{i}')
    i += 1

iteration1
iteration2
iteration3
iteration4
iteration5

In [ ]:
i = 1
while i <= 3:
    print('Hello',end=' ')
    i += 1

Hello Hello Hello

In [6]:
# loop statements
# break - terminates loop further iterations
# continue - terminates current iteration
# pass - do nothing 
i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i,end=' ')
    i += 1

1 3 5 7 9

In [7]:
i = 1
while i <= 100:
    if i % 11 == 0:
        print(i,end=' ')
    i += 1

11 22 33 44 55 66 77 88 99

In [8]:
i = 100
while i > 0:
    if i % 7 == 0:
        print(i,end=' ')
    i -= 1

98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [11]:
i = 5
while i > 0:
    j = 1
    while j <= 2:
        print(f'{i} X {j} = {i * j}')
        j += 1
    print()
    i -= 1

5 X 1 = 5
5 X 2 = 10

4 X 1 = 4
4 X 2 = 8

3 X 1 = 3
3 X 2 = 6

2 X 1 = 2
2 X 2 = 4

1 X 1 = 1
1 X 2 = 2

In [12]:
# loop over lists or sets or tuples
lst = ['ironman','batman','hulk','superman']
i = 0
while i < len(lst):
    print(lst[i])
    i += 1

ironman
batman
hulk
superman

In [17]:
# loop over dictonary
d1 = {
    'name': 'mandy',
    'age': 25,
    'city': 'hyderabad'
}
k = list(d1.keys())
i = 0
while i < len(k):
    print(k[i],d1[k[i]])
    i += 1

name mandy
age 25
city hyderabad

In [21]:
lst = [1,2,34,68,5,34,45]
x = 3
i = 0
while i < len(lst):
    if lst[i] == x:
        print(i)
        break
    i += 1
else:
    print(-1)

-1

In [22]:
# for loops
for ele in 'python':
    print(ele.upper())

P
Y
T
H
O
N

In [23]:
lst = [1,2,3,4,5,6,8,8]
for ele in lst:
    print(ele ** 2)

1
4
9
16
25
36
64
64

In [24]:
summation = 0
lst = [12,34,78,89,66,42]
for ele in lst:
    summation += ele
print(summation)

321

In [28]:
num = 89
prime = True
if num > 2:
    for i in range(2,int(num ** 0.5) + 1):
        if num % i == 0:
            prime = False
            break
else:
    prime = False
if prime:
    print(num, 'is prime number')
else:
    print(num, 'is not prime number')

89 is prime number

In [35]:
for i in range(2,101):
    prime = True
    for j in range(2,int(i**0.5)+1):
        if i % j == 0:
            prime = False
            break
    if prime:
        print(i,end=' ')
else:
    print('\nthis are primes')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
this are primes

In [38]:
freq = {}
word = 'Python Programming.'
for char in word:
    if char.isalnum() :
        if char not in freq:
            freq[char] = 1
        else:
            freq[char] += 1
print(freq)

{'P': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

In [40]:
num = 6
fact = 1
if num == 0:
    print(fact)
else:
    for i in range(1,num+1):
        fact *= i
    print(fact)

720